<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest Achievements</title>
    <style>
        body {
            text-align: center;
        }
        .head{
            font-size:40px;
            font-family: Impact;
        }
        .ntitle{
            margin-block-start:30px;
            height:20px;
            width:80px;
        }
        .edit{
            margin-block-start:30px;
        }
        .submit{
            background-color: black;
            color:white;
            font-size:20px;
            border-width:1px;
            border-color:white;
            margin-top:50px;
            padding-right:20px;
            padding-left:20px;
            padding-top:20px;
            padding-bottom:20px;
        }
        .subhead{
            font-size:30px;
            font-family:cursive;
            font-style:italic;
            margin-top:50px;
        }
    </style>
</head>
<body style="background-color: gray;">
    <div class="header">
    <h1 class="head">Welcome to the Latest Achievements Page</h1>

    <!-- create new posting -->
    <form action="/blog" method="POST">
        <input class="ntitle" type="text" name="title" placeholder="Title" required><br>
        <textarea class="edit" name="content" rows="4" cols="50" placeholder="Write Your Achievements Here..." required></textarea><br>
        <button class="submit" type="submit">Post</button>
    </form>

    <h2 class="subhead">All Achievements</h2>
    <ul>
        <% blogs.forEach(blog => { %>
            <li>
                <h3><%= blog.title %></h3>
                <p><strong>By:</strong> <%= blog.user %> <strong>On:</strong> <%= new Date(blog.created_at).toLocaleDateString() %></p>
                <p><%= blog.content %></p>
            </li>
        <% }); %>
    </ul>
    </div>
    <!-- Footer -->
    <footer class="foot" style="background-color: gray;color:black; padding: 10px; text-align: center; position: fixed; bottom: 0; width: 100%; border-top: 1px solid #ddd;">
        <p>
            <a href="/posts" style="text-decoration: none; color: #007BFF;">View Messages</a> | 
            
            <a href="/blogs" style="text-decoration: none; color: #007BFF;">News</a> |
            <a href="/jobs" style="text-decoration: none; color: #007BFF;">Jobs</a> |
            <a href="/donate" style="text-decoration: none; color: #007BFF;">Donate</a> |
            <a href="/about" style="text-decoration: none; color: #007BFF;">About Us</a> |
            <a href="/" style="text-decoration: none; color: #007BFF;">Home</a>
        </p>
    </footer>
    
</body>
</html>