<!DOCTYPE html>
<html>
    <head>
        
        <title>Alumni Network</title>
        <style>
            .d1{
                display:flex;
                flex-direction: row;
                height:60px;
                align-items: center;
                background-color: gray;
            
            }
            .login{
                background-color:white;
                    margin-left:1200px;
                    
                    
                    height:50px;
                    width: 200px;
                    border-radius:50px;
                    
                    
                    font-weight:700;
                    font-size:20px;
                    
                }
            .login:hover{
                opacity: 0.6;
                transition : opacity 0.15s;
                cursor:pointer;
                }
                .t1{
                    font-style:italic;
                    font-size:30px;
                    margin-left:10px;
                
            
                }
                .d2{
                    display:flex;
                    flex-direction:row;
                    align-content: center;
                    justify-content:space-evenly;
                    margin-top:0px;
                    margin-bottom:40px;
                    color:white;
                    background-color: black;
                    border-radius:10px;
                }
                .job{
                  
                    
                    border-radius:10px;
                    border-color:white;
                
                    color:white;
                    height:30px;
                    padding-left: 20px;
                    padding-right:20px;
                    font-size:20px;
                    font-weight:700;
                    background-color:rgb(10, 10, 10);

                }
                .job:hover{
                    opacity: 0.6;
                    transition : opacity 0.15s;
                    cursor:pointer;
                }
                .job:active{
                    background-color: white;
                    color: black;
                }
                    
                
                
                .ach{
                    color:white;
                    height:30px;
                    font-size:20px;
                    border-color:white;
                    font-weight:700;
                    border-radius:10px;
                    background-color:rgb(10, 10, 10);
                    padding-left: 20px;
                    padding-right:20px;
                 
                }
                .ach:hover{
                    opacity: 0.6;
                    transition : opacity 0.15s;
                    cursor:pointer;
                }
                .ach:active{
                    background-color: white;
                    color: black;
                }
                    
                
                .donate{
                    color:white;
                    border-color:white;
                    height:30px;
                    font-weight:700;
                    font-size:20px;
                    padding-left: 20px;
                    padding-right:20px;
                    border-radius:10px;
                    background-color:rgb(10, 10, 10);
                }
                .donate:hover{
                    opacity: 0.6;
                    transition : o-pacity 0.15s;
                    cursor:pointer;
                }
                .donate:active{
                    background-color: white;
                    color: black;
                }
                  
                
                .about{
                    color:white;
                    border-color:white;
                    padding-left: 20px;
                    padding-right:20px;
                    font-size:20px;
                    height:30px;
                    
                    font-weight:700;
                    border-radius:10px;
                    background-color:rgb(10, 10, 10);
                }
                .about:hover{
                    opacity: 0.6;
                    transition : opacity 0.15s;
                    cursor:pointer;
                }
                .about:active{
                    background-color: white;
                    color: black;
                }
                    
                .d3 {
                    text-align: center;
                    margin-top: 0px;
                    background-color: gray;
                }
                .t2{
                    font-family:'Times New Roman';
                    font-size: 50px; 
                    margin-top:0px;
                }
               .t3{
                font-family:cursive;
                font-size:20px;
               }
               .d4{
                display:flex;
                flex-direction: row;
                text-align: center;
                margin-top:80px;
                justify-content: center;
                background-color: gray;
                ;
            
               }
               .search{
                width:400px;
                height:40px;
                border-style: solid;
                border-radius: 5px;
                box-shadow:10,10,10;
            
               }
               .search:hover{
                width:420px;
                height: auto;
                opacity:0.8;
                transition: all 0.15s;
               }
            
            .b1{
                height:45px;
                border-style: solid;
                border-radius: 5px;
                cursor: pointer;
            }
            .d5{
                display:flex;
                flex-direction: row;
                justify-content: center;
                margin-top: 80px;
                
                }
            .b2{
                margin-right: 100px;
                height:30px;
                    font-weight:700;
                    font-size:20px;
                    border-color:white;
                    color:white;
                    background-color: black;
                    
            
            }
            .b2:hover{
                cursor: pointer;
                height:40px;
                width:auto;
                opacity:0.7;
                transition :all 0.15s; 
            }
            .b3{
                margin-left: 100px;
                height:30px;
                    font-weight:700;
                    font-size:20px;
                    border-color:white;
                    color:white;
                    background-color: black;
                    cursor:pointer;
            
            }
            .b3:hover{
                cursor: pointer;
                height:40px;
                width:auto;
                opacity:0.7;
                transition :all 0.15s;
            }
            </style>
    </head>
    <body style="background-color:grey">
        <div class="d1">
            <p class="t1"><strong>ALUMNI NETWORK</strong></p>
            <a href="/login"><button class="login">LOGIN</button></a>
        </div>
        <div class="d2">
            <a href="/jobs"><button class="job" >Job Portal</button></a>
            <a href="/blogs"> <button class="ach">Achievements</button>
                </a>
            <a href="/Donate">
            <button class="donate">Donations</button>
            </a>
            <a href="/about" >
                <button class="about">About</button>
            </a>
            
        </div>
        <div class="d3">
            <p class="t2">GET CONNECTED WITH YOUR FELLOW ALUMNI!</p>
            <p class="t3">A Single Platform For All Your Networking Needs.</p>
        </div>
        <div class="d4">
            <input class=search type="text" placeholder="Search For Other Alumni...">
            <button class="b1"><img src="/search_cr23.svg" ></button>
        </div>
        <div class="d5">
            <a href="/posts">
            <button class="b2">
            INBOX </button>
        </a>
           <button class="b3">
            FRIENDS
            </button>
        
        </div>
        
    </body>
</html>






