<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
</head>
<body>
    <h1>Welcome to the Alumni Platform</h1>
    <p>Use the links below to navigate:</p>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/posts">View Messages</a></li>
        <li><a href="/blogs">News</a></li>
        
        <li><a href="/jobs">View Jobs</a></li>
        <li><a href="/donate">Donate</a></li>
    </ul>

    <!-- Footer -->
    <footer style="background-color: #f1f1f1; padding: 10px; text-align: center; position: fixed; bottom: 0; width: 100%; border-top: 1px solid #ddd;">
        <p>&copy; 2024 Alumni Platform</p>
    </footer>
</body>
</html>
